* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #2b2f33, #16181a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.back {
  position: absolute;
  left: 30px;
  top: 30px;
  color: #aaa;
  text-decoration: none;
}

/* сцена */
.scene {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* общий контейнер */
.ice {
  position: relative;
  animation: float 5s ease-in-out infinite;
}

.ice::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 120px;
  height: 18px;
  background: rgba(0,0,0,0.4);
  filter: blur(12px);
  transform: translateX(-50%);
  z-index: -2;
} 

/* шар */
.scoop {
  border-radius: 48% 52% 50% 55%;
  position: relative;
  width: 160px;
  height: 155px;
  overflow: hidden;
  box-shadow:
    inset -10px -10px 20px rgba(0,0,0,0.15),
    inset 0 -12px 20px rgba(0,0,0,0.25),
    0 20px 40px rgba(0,0,0,0.3);


  background: radial-gradient(
    circle at 30% 30%,
    #ff9aa2,
    #ff4f68
  );

  border-radius: 55% 45% 50% 50%;
  animation: melt 6s ease-in-out infinite;

  box-shadow:
    inset -12px -10px 20px rgba(0,0,0,0.2),
    0 25px 40px rgba(0,0,0,0.35);
}

/* блик */
.shine {
  position: absolute;
  top: 28px;
  left: 35px;
  width: 42px;
  height: 60px;
  background: rgba(255,255,255,0.25);
  border-radius: 50%;
  transform: rotate(-20deg);
}

/* капли */
.drip {
  position: absolute;
  bottom: 6px;
  width: 10px;
  top: 130px;
  height: 18px;
  border-radius: 50% 50% 60% 60%;
  background: #ff5d73;
  border-radius: 50%;
  filter: blur(0.3px);
  animation: drip 3s infinite;
}

.d1 {
  left: 45px;
  animation-delay: 0s;
}

.d2 {
  left: 22px;
  animation-delay: 1.2s;
  border-radius: 50% 50% 60% 60%;
}

/* палочка */
.stick {
  margin: -10px auto 0;
  width: 34px;
  height: 130px;
  background: linear-gradient(#d7a86e, #b9854a);
  border-radius: 0 0 18px 18px;
  box-shadow: inset -4px 0 6px rgba(0,0,0,0.25);
}

.melt {
  position: absolute;
  bottom: -10px;
  left: 30px;

  width: 80px;
  height: 28px;

  background: linear-gradient(#ff5d73, #e63b53);
  border-radius: 60% 40% 50% 50%;
  filter: blur(1px);

  z-index: 1;
}

/* анимации */
@keyframes melt {
  0%, 100% {
    border-radius: 48% 52% 50% 55%;
  }
  50% {
    border-radius: 52% 48% 55% 50%;
  }
}

@keyframes drip {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translateY(50px) scale(0.9);
  }
  100% {
    transform: translateY(70px) scale(0.6);
    opacity: 0;
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


